.container
  %table.table-hosts
    %tr
      %th.hostname Hostname
      %th.ip IP
      %th.updated-at Last update

    - @hosts.each do |host|
      %tr
        %td.hostname= host.name
        %td.ip= host.ip
        %td.updated-at= host.updated_at.strftime('%Y-%m-%d %H:%M:%S')
