%h1 DD53 - Overview

%table
  %tr
    %th.hostname Hostname
    %th.ip IP

  - @hosts.each do |host|
    %tr
      %td.hostname= host.name
      %td.ip= host.ip

.container
  %a.button{href: url("/hosts/new")} Add new host
