html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  color: rgb(34, 34, 34);
  font-size: 1em;
  line-height: 1.4;
}

h1 {
  text-align: center;
}

nav {
  margin-bottom: 20px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(238, 246, 255);
}

th,
td {
  padding: 5px;
  text-align: left;
  width: 20%;
}

form {
  margin: 0 auto;
  width: 400px;
}

form label,
form input {
  font-size: 1.1em;
  width: 100%;
}

form input {
  border: 1px solid rgb(34, 34, 34);
  border-radius: 3px;
  padding: 5px;
}

form button {
  float: right;
}

button,
.button {
  background-color: rgb(238, 246, 255);
  border: none;
  border-bottom: 2px solid rgb(238, 246, 255);
  border-radius: 3px;
  color: #222;
  font-size: 1.1em;
  padding: 7px 12px 5px;
  text-decoration: none;
}

button:hover,
.button:hover {
  background-color: rgb(207, 230, 255);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.table-hosts {
  margin: 0 auto;
  width: 500px;
}

.ip {
  width: 10%;
}

.user-agent {
  width: 35%;
}

.status {
  width: 15%;
}

.pagination {
  margin: 0 auto 20px;
  text-align: center;
}

.prev-link,
.next-link,
.current-page {
  display: inline-block;
}

.current-page {
  margin: 0 10px;
}

.prev-link:hover,
.next-link:hover {
  background-color: rgb(207, 230, 255);
}
